<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalkulatorlengkapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KalkulatorLengkapp">
        <activity
            android:name=".sn"
            android:exported="true" />
        <activity
            android:name=".mn"
            android:exported="true" />
        <activity
            android:name=".jw"
            android:exported="true" />
        <activity
            android:name=".bl"
            android:exported="true" />
        <activity
            android:name=".MinangActivityy"
            android:exported="true" />
        <activity
            android:name=".SundaActivityy"
            android:exported="true" />
        <activity
            android:name=".JawaActivityy"
            android:exported="true" />
        <activity
            android:name=".BaliActivityy"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>